.container {
    padding: 64px 20px 48px 20px;
}

@media (max-width: 900px){
    .container{
        padding: 2.5rem 1.5rem;
    }
}

.section-title {
    color: var(--color-text-main);
    font-size: 2.2rem;
    font-weight: var(--font-weight-bold);
    margin-bottom: 2.5rem;
    text-align: center;
    letter-spacing: 0.5px;
}

@media (max-width: 900px) {
    .section-title {
        margin-bottom: 1rem;
    }
}

@media (max-width: 600px) {
    .about-text, .service-card, .project-card{
        text-align: center;
    }
}